[data-role="listChannels"]{
	position: relative;
	width: 50%;
	height: 50%;
	border-right: 1px inset;
	border-bottom: 1px inset;
	overflow: auto;
}
[data-role="nameChannel"],
[data-role="linkToTheChannel"]{
	width: 95%;
	height: 1.5em;
	border: none;
	border-bottom: 1px solid #51C1D0;
	outline: none;
	padding: 0.5em;
	display: block;
	margin-left: 0.5em;
}
[data-role="nameChannel"]{
	width: 75%;
	display: inline-block;
	margin-bottom: 1em;
}
[data-role="saveNewName"],
[data-role="saveChannel"]{
	outline: none;
	width: 15%;
	padding: 0.5em;
	border: 1px solid  #51C1D0;
	cursor: pointer;
	border-radius: 5px;
	background-color: #DDF2F9;
	color: #635E5E;
	margin: 0.5em 0 0 1em;
}
[data-role="saveChannel"]:active,
[data-role="saveNewName"]:active{
	background-color: lightblue;
}
[data-role="edit"]{
	position: absolute;
	top: -5em;
	left: 0;
	width: 100%;
	height: 5em;
	background-color: #EBF6FF;
	transition: 0.5s linear;
}
[data-role="reNameChannel"]{
	width: 95%;
	margin: auto;
	height: 2em;
	display: block;
	outline: none;
	border: none;
	border-bottom: 1px solid #51C1D0;
	background-color: #EBF6FF;
	padding-left: 1em;
	color: grey;
	font-size: medium;
}
[data-role="saveNewName"]{
	width: 95%;
	background-color: #EBF6FF;
}
.textInfo{
	position: absolute;
	top: 0;
	left: 20%;
	color: #AD2222;
}
.listChannel{
	list-style-type: none;
	padding: 0;
	width: 100%;
}
.currentChannel{
	margin: 3px 0 3px 10px;
}
.channel{
	border-radius: 5px;
	cursor: pointer;
	color: grey;
	font-size: medium;
	padding-left: 1em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 83%;
}
.channel:hover{
	background-color: #DDF2F9;
}
.deleteChannel,
.editName{
	color: #BF2D2D;
	font-size: small;
	cursor: pointer;
	padding: 1px 5px 1px 5px;
	border-radius: 5px;
	float: right;
	background-color: antiquewhite;
	margin-right: 3px;
}
.editName{
	background-color: #C4F3C4;
	color: green;
}
.editName:hover{
	background-color: lightgreen;
	color: #0A210A;
}
.deleteChannel:hover{
	background-color: #FFD092;
}