[data-role="reader"]{
	width: 50%;
	height: 50%;
	margin-left: 50%;
	overflow: auto;
	position: absolute;
	bottom: 0;
}
[data-role="closeNews"]{
	visibility: hidden;
	display: inline-block;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	padding: 0.3em;
	height: 1em;
	border-radius: 3px;
	vertical-align: middle;
	background-color: lightblue;
	cursor: pointer;
}
.content{
	font-size: larger;
	color: #443030;
	padding: 0.5em 0.5em 1em 0.5em;
	margin-top: 2em;
}
.link{
	position: absolute;
	text-decoration: none;
	font-size: larger;
	margin: 0.3em 0 0 2em;
	color: #4C5A67;
	background-color: #E5F8FF;;
	border-radius: 5px;
}